<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Document</title>
</head>
<body>
    <table>
            <td th:text="ID"></td>
            <td th:text="Nome"></td>
            <td th:text="Salário"></td>
            <td th:text="CargaHorária"></td>
            <td th:text="Idade"></td>
            <tr th:each="employee :  ${employees}" >
                <td th:text="${employee.getID()}"></td>
                <td th:text="${employee.getName()}"></td>
                <td th:text="${employee.getSalary()}"></td>
                <td th:text="${employee.getWorkload()}"></td>
                <td th:text="${employee.getAge()}"></td>            
            </tr>
            <a href='/Register'>Cadastrar</a>
    </table>
</body>
</html>