<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Cadastra Editora</title>
</head>
<body>
    <a href="/">Menu</a>
    <a href="/livros">Livros</a>
    <br>
    <form th:action="@{/salvaEditora}" method="POST">
        <label>Nome:</label>
        <input type="text" placeholder="Digite o nome" name="name" required/>
        <label>Endereço:</label>
        <input type="text" placeholder="Digite o endereço" name="adress"required/>
        <label>Ano de fundacao:</label>
        <input type="numeric" placeholder="Digite o ano" name="year_foundation" min="1800" max="2020" required/>
        <input type="submit" value="Salvar"/>
    </form>
    <br>

    <table>
        <tr>
            <td>ID</td>
            <td>Nome</td>
            <td>Endereço</td>
            <td>Ano de fundacao</td>
            <td>Livros</td>
        </tr>
        <tr th:each="editora: ${editoras}">
            <td th:text="${editora.id}"></td>
            <td th:text="${editora.name}"></td>
            <td th:text="${editora.adress}"></td>
            <td th:text="${editora.year_foundation}"></td>
            <td><a th:href="@{'/detalhesEditora/' + ${editora.id}}">Livros</a></td>
        </tr>
    </table>
</body>
</html>