<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Livros</title>
</head>
<body>
    <h1>
        <form th:action="@{/app/cadastra}" method="POST">
            <label> Titulo</label><br>
            <input type="text" name="title" required/>
            <br><label>Autor</label><br>
            <input type="text" name="author" required/>
            <br><label>Editora</label><br>
            <input type="text" name="publishing_company" required/>
            <br><label>Ano</label><br>
            <input type="text" name="year" required/><br>
            <input type="submit" value="Cadastrar" />
        </form> 
    </h1>
    <p th:if="${inserido == false}">Não foi possível inserir </p>

    <h1>Livros disponíveis</h1>
    <table>
        <tr th:each="livro: ${livros}">
            <td th:text="${livro}">
        </tr>
    </table>
    <p th:if="${livros == null}">Nenhum livro cadastrado</p>
    
    </h1>
</body>
</html>